<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="pull-left">Contacts</h4>
        <a class="btn btn-success pull-right">New Contact</a>
  <div class="clearfix"></div>
      </div>
  </div>
  </div>
  <div class="panel-body">

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-contact-item *ngFor= "let contact of contacts" [contact]="contact" (click)="onSelected(contact)" ></app-contact-item>
    </ul>
  </div>

</div>
</div>
</div>
