<div class="panel panel-default">
  <div class="panel-heading" style="padding-bottom: 10% ">
    <h3>{{selectedContact?.name}}</h3>

      <img src="{{selectedContact?.imageUrl}}" alt="" class="img-responsive ">
    <span class="pull-right">
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
    </span>

  </div>
  <div class="panel-body">

<div class="row">
  <div class="col-xs-12">
    <p><b>Email:</b> {{selectedContact?.email}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p><b>Phone:</b> {{selectedContact?.phone}}</p>
  </div>
</div>
</div>
</div>

