<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{contact?.name}}</h3>
    <div class="row pad-all">
      <div class="clear-fix pull-left" style="margin-left: 4%">
        <img class="img-responsive" src="{{contact?.imageUrl}}" style="max-height: 80px;"/>
      </div>
      <div class="pull-right" style="margin-top: 2rem; margin-right: 1em;">
        <button class="btn btn-primary" [routerLink]="['../edit']">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>

  <div class="panel-body" style="margin-left: 4%">
    <div class="pad-left-right">
      <div class="row" *ngIf="contact?.email">
        <label>Email:</label>
        <span class="label-value">{{contact?.email}}</span>
      </div>

      <div class="row" *ngIf="contact?.phone">
        <label>Phone:</label>
        <span class="label-value">{{contact?.phone}}</span>
      </div>
    </div>

    <div class="row" *ngIf="contactGroup && contactGroup.length > 0">
      <label for="groupContacts" style="margin-left: 1rem;">Group contacts:</label>
      <div class="col-xs-12" id="groupContacts">
        <app-contact-group-item *ngFor="let contact of contactGroup" [contact]="contact"></app-contact-group-item>
      </div>
    </div>

  </div>
</div>


