<div class="panel panel-default">
  <div class="panel-heading" style="padding-bottom: 10%">
      <div class="col-xs-13">
        <h4 class="pull-left">{{selectedContact?.name}}</h4>
        <div class="clearfix"></div>
        <span class="pull-right ">
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
      </span>

    </div>
  </div>
  <div class="panel-body">

      <app-contact-item *ngFor="let contact of contactGroup" [contact]="contact" ></app-contact-item>

  </div>
</div>
